<div class="row">
	<div class="col-lg-12">
		<div ng-controller="EmailTemplateController as vm">
			<script type="text/ng-template" id="uploadContent.html">
				<div class="modal-header">
				<h3 class="modal-title">Upload Email Template</h3>
				</div>
				<div class="modal-body">
				<div>
				<form enctype="multipart/form-data">
				<div class="modal-body">
				<div class="form-group row">
				<label class="col-xs-2 col-form-label">Name</label>
				<div class="col-xs-8">
				<input class="form-control" type="text" ng-model="name" required/>
				</div>
				</div>
				<div class="form-group row">
				<label class="col-xs-2 col-form-label">Template(.ejs)</label>
				<div class="col-xs-8">
				<input class="btn " type="file" file-model="myFile" />
				</div>
				</div>
				<div class="form-group row">
				<label class="col-xs-2 col-form-label">Thumbnail Image</label>
				<div class="col-xs-8">
				<input class="btn " type="file" file-model="myFile1" />
				</div>
				</div>
				</div>
				</form>
				</div>
				</div>
				<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
				<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
				</div>
			</script>
			<div style="padding-left: 30px;">
				<button type="button" class="btn btn-success" ng-click="vm.openUploadForm()">Upload</button>
			</div>
			<div>
				<br>
				<div ng-repeat="image in vm.emails">
					<div class="col-sm-4">
						<img  ng-click="vm.selectTemplate(image)" ng-src="{{image.thumb}}" class="img-rounded img-responsive" ng-class="image.active ? 'selected' : ''">
						<h4 class="col-sm-4"> {{image.name}}</h4>
                                                <button  class="btn btn-danger" ng-click="vm.deleteTemplate(image)">
                                                    Delete
                                                </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>