<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
   
  </head>

  <body>
    <!-- <style> -->
    <table style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding: 0; margin: 0; 
    text-align: left;height: 100%; width: 100%;font-size: 16px; line-height: 1.3; vertical-align: top; border-spacing: 0; border-collapse: collapse;" data-made-with-foundation="">
      <tr>
        <td style="margin: 0 auto; float: none; text-align: center; width: 100%; min-width: 540px; padding:0;" align="center" valign="top">

            <table width="600" border="0" cellspacing="0" cellpadding="0" style="width:600px; padding:30px;" align="center">
              <tr>
                <td>
                
                <table align="center" style="margin: 0 auto; float: none; text-align: center; width: 540px; padding:0; border-spacing:0; border:1px solid #e2b2a8;">
              <tbody>
                <tr style="padding:0; margin:0;">
                  <td style=" padding-top:60px; padding-right:60px; padding-bottom:60px; padding-left:60px; margin:0;">
                    <table style=" padding: 0; width: 100%; position: relative;">
                      <tbody>
                        <tr style="padding:0; margin:0;">
                          <th style="padding:0; margin:0;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <tr>
                                <th>
                                  <h4 style="font-size: 14px; text-align: left; width: 100%; color: #898989; word-wrap: normal; font-family: Helvetica, Arial, sans-serif; font-weight: normal; margin: 0px; margin-bottom: 10px; line-height: 1.3;">Dear <%= name %>,</h4> </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table style="padding: 0; width: 100%; position: relative;">
                      <tbody>
                        <tr>
                          <th>
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <th>
                                  <table>
                                    <tbody>
                                      <tr>
                                        <td height="40px" style="line-height:40px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                                       
                                 <img src="https://apps.publicis.com.sg/RSVP/images/img_001.jpg" />
                                 <p style="color:#707070;font-family: Helvetica, Arial, sans-serif;font-weight: normal; padding-top:20px;  font-size: 14px;">an event by:</p>
                                  <img src="https://apps.publicis.com.sg/RSVP/images/publicis.jpg" />
                                  <table>
                                    <tbody>
                                      <tr>
                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <p style="color:#000;font-family: Helvetica, Arial, sans-serif;font-weight: normal; padding: 0; margin: 0; font-size: 14px; line-height: 1.3;">DRIVING  CHANGE  FOR  SUSTAINABLE  INNOVATION</p>
                                   <p style="color:#e49a65;font-family: Helvetica, Arial, sans-serif;font-weight: normal; padding: 0; margin: 0 0 30px 0; font-size: 14px; line-height: 1.3;"> 24 / 10 / 16 | 08:00 pm |  National Gallery, Singapore</p>                          
                                 
                                  <p style="font-size: 18px; color: #636363; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding: 0; margin: 10px 0;text-align: center; line-height: 26px;">Innovation is about imagining a better, brighter future. And staying the course to make it happen. At <span style="color:#df843e; ">hello tomorrow’s</span> inaugural event, explore new value creation through product, service and process innovation. Witness how sustainable innovation is the blueprint for business transformation.</p>
                                  <p style="font-size: 18px; color: #636363; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding: 0; margin: 0;text-align: center; line-height: 26px;">Join us as we welcome the future with open arms.</p>
                                          <table width="100%" style="margin-top:25px; margin-bottom:20px">
                                    <tr>
                                      <td>
                                        <table width="100%">
                                          <tr>
                                            <td style="text-align:center;"><a href="<%= link %>"><img src="https://apps.publicis.com.sg/RSVP/images/btn-rsvp.jpg" alt="" width="104" height="31" /></a></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                    <p style="font-size: 14px; color: #707070; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding: 0; margin: 0;text-align: center; "> <span style="color:#df843e; font-size:18px">hello tomorrow</span> is a series of invitation-only thought leadership events that gather forward-thinking brand and business leaders. Together, we’ll share experiences, debate and develop concrete solutions for the future.</p>                                    
                                  
                                        <table width="100%" style=" margin-top:20px;">
                                         <tr>
                                          <td style="font-size: 12px; width:30%; text-align:left; color: #df843e;  font-family: Helvetica, Arial, sans-serif; font-weight: normal; vertical-align:top;">18.30-18.45 </td>
                                            <td style="text-align:left;font-size: 12px;color: #707070; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding-bottom:12px;">Reception and Refreshments</td>
                                          </tr>
                                          <tr style="margin-top:10px;">
                                          <td style="font-size: 12px; width:30%; text-align:left; color: #df843e;  font-family: Helvetica, Arial, sans-serif; font-weight: normal; vertical-align:top;">18.45-19.00 </td>
                                            <td style="text-align:left;font-size: 12px;color: #707070; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding-bottom:12px;"><span style="font-weight:600; ">Welcome to the future,today</span><br />
                                            		Opening speech by Lou dela Pena, <br />
                                                    CEO of Publicis Communications Singapore</td>
                                          </tr>
                                           <tr>
                                          <td style="font-size: 12px; width:30%; text-align:left; color: #df843e;  font-family: Helvetica, Arial, sans-serif; font-weight: normal; vertical-align:top;">19.00-19.15</td>
                                            <td style="text-align:left;font-size: 12px;color: #707070; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding-bottom:12px;"><span style="font-weight:600;">Partnership of the Titans</span><br />
                                            		Lou dela Pena, CEO of Publicis Communications Singapore 
                                                    and Clarence Chua, Director of Professional  Services
                                                    of EDB Singapore announce a milestone partnership and 
                                                    their innovation ambition</td>
                                          </tr>
                                           <tr>
                                          <td style="font-size: 12px; width:30%; text-align:left; color: #df843e;  font-family: Helvetica, Arial, sans-serif; font-weight: normal; vertical-align:top;">19.45-20.15</td>
                                            <td style="text-align:left;font-size: 12px;color: #707070; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal; padding-bottom:12px;"><span style="font-weight:600;">The Innovator’s Lens </span><br />
                                            		Serial Innovator and CEO of Scientific Innovations Company,
Mervyn Fathianathan takes us through the journey 
of innovation from paper to product.</td>
                                          </tr>
                                             <tr>
                                          <td style="font-size: 12px; width:30%; text-align:left; color: #df843e;  font-family: Helvetica, Arial, sans-serif; font-weight: normal; vertical-align:top;">20.15-20.45</td>
                                            <td style="text-align:left;font-size: 12px;color: #707070; line-height: 1.3; font-family: Helvetica, Arial, sans-serif; font-weight: normal;padding-bottom:12px;"><span style="font-weight:600;">Tomorrow’s innovation starts today </span><br />
                                            		Open discussion on issues and opportunities for brand
innovation, facilitated by Steve Walls, Chief Strategy Officer
of Publicis Communications Singapore.</td>
                                          </tr>
                                        </table>
                                     
                                   
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>             
                  </td>
                </tr>
              </tbody>
          </table>
                
                </td>
              </tr>
            </table>
            

        </td>
      </tr>
    </table>
  </body>

</html>